* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.contain {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    position: relative;
    background:white;
    overflow: hidden;
    

}
.navBar{
    width:100%;
    height:8%;
    color:black;
    background:linear-gradient(to right,rgb(27, 27, 32),rgb(29, 29, 39));
    position:absolute;
    top:0%;
    display:flex;
    place-items:center;
    overflow:hidden;

}
.navHead{
    font-size:3vmin;
    left:5%;
    color:white;
    position:absolute;
    text-transform:uppercase;
}

.drum {
    width: 90%;
    height: 85%;
    transition: all 400ms linear;
    top: 10%;
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background:white;
    padding: 2vmin;

}

.waves{
    width:8%;
    height: 50%;
    left:15%;
    display: flex;
    flex-direction:row;
    justify-content: space-around;

    position:absolute;
   
}
.lines{
    width:2vmin;
    height:100%;
    background:aquamarine;
    margin-right:1vmin;
    animation:wave 900ms ease-in infinite;
    border-radius:1vmin;
}
@keyframes wave{
    0%{
        transform:scaleY(0.5);
    }
    100%{
        transform:scaleY(1.5);
        opacity:0;
    }
}
.box{
    width:100%;
    height:10vmin;
    background:rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    box-shadow:0px 0px 5px rgba(0, 0, 0, 0.726);
    margin-bottom:2vmin;
    padding:1vmin;
    display: flex;
    place-items:center;
    border-radius:1vmin;
    position:relative;
    padding-left:2%;
}

.box:hover{
    background:black;
    color:white;
}
#toggle{
    color:black;
    font-size:3vmin;
}
.download{
    width:15vmin;
    height:5vmin;
    background:rgb(56, 55, 55);
    color:white;
    display:flex;
    place-items:center;
    position:absolute;
    right:5%;
    justify-content: center;
    text-transform:uppercase;
    text-decoration:none;
}
.download:hover{
    background:white;
    color:rgb(0, 0, 0);
}
#toggle{
    width:5vmin;
    height:5vmin;
    box-shadow:0px 0px 3px rgba(0, 0, 0, 0.651);
    transition:all 100ms linear;
    border-radius:50%;
    right:20%;
    display:grid;
    place-items:center;
    position: absolute;
    background:royalblue;
}
#toggle:hover{
    background:rgb(255, 169, 57);
    color:black;
    cursor: pointer;
    box-shadow:0px 0px 3px rgb(255, 169, 57);
  
}
.playing{
width:25vmin;
height:8vmin;
display: grid;
place-items:center;
text-transform: uppercase;
background:aquamarine;
position:absolute;
top:3%;
transition:all 400ms linear;
z-index: 444;
transform:translateY(-150%);
opacity: 0;
}
.playingShow{
    opacity: 10;
    transform:translateY(0%);
}
.head{
    width:75%;height:25%;
    font-weight: bold;
    display: flex;
    place-items:start;
    overflow:hidden;;
    font-size:2vmin;
    padding-left:2vmin;
    position:absolute;
    top:15%;
    text-transform:uppercase;
}
#range{
    -webkit-appearance: none;
    -webkit-appearance: none;
    position:absolute;
    width:70%;
    height:15%;
    bottom:15%;
    background:rgb(0, 0, 0);
    border-radius:1vmin;
    overflow: hidden;
}
#range::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 2%; /* Set a specific slider handle width */
    height: 100px; /* Slider handle height */
    background: #ff4444; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
@media only screen and (max-width:1080px) {
    .drum {
        width: 95%;
    }

   .download{
       width:20vmin;
       font-size: 2vmin;
       z-index: 344;
   }
   .head{
       font-size:3vmin;

   }
   #toggle{
       right:27%;
       z-index: 344;
   }
   .navBar{
       height:5%;
   }
   .waves{
       left:28%;
   }

   .box{

    height:25vmin;
   }
   #range{
       width:40%;
       top:50%;
       left:5%;
   }
   #toggle {
       width:10vmin;
       height:10vmin;
       right:30%;
       top:35%;
       font-size:5vmin;
   }
   .download{
       height:10vmin;
       top:35%;
   }
}
